body {
    background-image: url(https://media.istockphoto.com/vectors/animal-paw-seamless-pattern-stock-illustration-vector-id1189999060?k=6&m=1189999060&s=612x612&w=0&h=tG8g2lgktr6Ue92rMkbvfxeJpikfTsbSccPPt4hfDuE=);    
}

h1 {
    text-align: center;
    text-shadow: 2px 2px rgb(197, 10, 10);
    color: rgb(204, 18, 241);
    font-size:75px ;
    
}

h3 {
    color:rgb(248, 147, 14);
    font-size: 30px;
    text-align: center;
}

div.column {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
}

div.column:hover {
    border: 1px solid #777;
}

div.column img {
    width: 100%;
    height: auto;
}

 li {
     color: rgb(114, 21, 122);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
 }
 
 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-shadow: cyan;
    text-align: center;
   
 }
 button#fact-button {
    margin-right:80%;
    background-color: cornflowerblue;
    background-repeat: no-repeat;
 }
 button:hover {
    border: 1px solid #f80ae4;
    background-color: #8fcc00;
    color: #10f1e6;
    padding: 5px 10px;
  }


